* {
	box-sizing: border-box;
	margin: 0px;
	padding: 20px;
}

h1 {
	font-weight: 100;
	text-align: center;
	letter-spacing: 20px;
	padding: 0px;
	color: #fff;
}

h5 {
	text-align: center;
	font-weight: 100;
	padding: 0px;
	margin-top: 0px;
	color: #fff;
}

#user-info {
	padding: 10px;
	font-size: 16px;
	color: white;
	font-family: 'roboto'; 
}

.open-buttons {
	font-size: 20px;
	margin-top: 20px;
	margin-right: 30px;
}

#positioning {
	position:relative;
	top:100px;
}

.marginBottom {
	margin-bottom: 20px;
}

.marginTop {
	margin-top: 20px;
}

#login-panel {
	margin-bottom: 20px;
}

#login-button {
	margin: 0px;
}

#logout-button {
	margin: 0px;
}

.divider {
	background-color: #fff;
}

.noPad {
	padding: 0px;
}

.padding {
	padding: 20px;
}

img {
	width:100%;
}

.button-right{
	margin-top: 20px;
	margin-left: 50px;
}
.header .row {
	margin-bottom: 0px;
}

#title {
	padding-bottom: 0px;
}

.border {
	border: 3px solid orange;
}

h5.section {
	padding:15px;
}

.btn {
	margin-bottom: 20px;
}

.emphasis {
	font-style: italic; 
}

thead {
	color: #fff;
	font-size: 18px;
	font-weight: 100;
}

tbody tr:hover {
	background-color: #ffd599;
}

.marginLeft {
	margin-left: 10px;
}

.marginRight {
	margin-right: 10px; 
}

#hotwire {
	width: 40%;
	display: inline-block;
}

#savedTrips {
	display: none;
}

footer {
	text-align: center;
	padding: 30px;
	color: #fff;
}